

.container-parson{
    justify-content: center;
    margin-top: 150px;
}
.container {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  display: block;
}
  .input-from{
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  gap: 10px; /* 各要素の間に適度な隙間を挿入 */
  margin-bottom: 3%;

  }
.form-label{
  width: 100%;
  margin: auto;
  display: block;

}


