/* メインコンテンツのコンテナ */
main {
    max-width: 600px;
    margin: 0px auto;
    /* aria(中央の背景)のz-indexが１なのでそれ以上にする事 */
    position: relative;
    z-index: 10;
    margin-top: 300px;
    padding: 0;
}



.twi-list {
    margin-top: 5px;
    border: 1px solid;
    border-radius: 8px;
    width: 90%;
    margin: 10px auto;
    background-color: white;
    border: 2px solid black;

}

.twi-list form {
    display: flex;
    align-items: center;
    gap: 20px;
}



.twi-list:hover {
    background-color: rgb(255, 255, 227);
    border-radius: 8px;
}

.twi-list .twi-item {
    border-bottom: 1px solid #e1e8ed;
    padding: 15px 0;
}

.twi-list .twi-item:last-child {
    border-bottom: none;
}

/* メモ項目のヘッダー */
.twi-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #657786;
    margin-left: 10px;
}

/* メモ内容のスタイル */
.twi-content {
    font-size: 1.1rem;
    color: #14171a;
    margin-top: 5px;
    line-height: 1.4;
}


.twi-comments {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s;
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 0 15px;
}

.twi-user {

    color: black;
}



.twi-controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_user {

        display: flex;
        justify-content: space-between
    }