main {
    max-width: 550px;
    margin: 20px auto;
    margin-top: 100px;
    position: relative;
    z-index: 100;
    border-radius: 8px;
    padding: 20px;


}


.MassageAria {
    height: 80%;
    overflow-y: auto;
    /* スクロールできるようにする */
}


blockquote {
    max-width: 80%;
    word-wrap: break-word;
}


.rightMessage {
    background: #ffffff00;
    background-color: white;
    border: solid 3px #000;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    /* コメント(チャット本体)の位置 */
    margin: 1.5em 0px 1.5em 60px;
    min-width: 120px;
    padding: 7px 10px;
    position: relative;
    width: 100%;
}

.rightMessage:after {
    border: 14px solid transparent;
    border-left: 14px solid #000;
    content: "";
    margin-top: -14px;
    position: absolute;
    /* 矢印の位置の調整 */
    right: -30px;
    top: 50%;
    z-index: 1;
}

.rightMessage:before {
    border: 12px solid transparent;
    /* border-left:12px solid #fff; */
    content: "";
    margin-top: -12px;
    position: absolute;
    right: -25px;
    top: 50%;
    z-index: 2;
}


.leftMessage {
    background: #fff;
    border: solid 3px #000;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    /* margin:1.5em 0 1.5em 15px; */
    margin: 1.5em auto 1.5em 15px;
    min-width: 120px;
    padding: 7px 10px;
    position: relative;
    width: 100%;
}

.leftMessage:after {
    border: 14px solid transparent;
    border-right: 14px solid #000;
    content: "";
    left: -30px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.leftMessage:before {
    border: 12px solid transparent;
    border-right: 12px solid #ffffff00;
    content: "";
    left: -20px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    z-index: 2;
}


.massageAria {
    /* background-color: #009dff; */
    height: 70%;
    /* border: 1px solid #000; */
    /* わかりやすくボーダーを引く */
    overflow-y: scroll;
}

/* //クロームはこれでスクロールバーがきえる */
.massageAria::-webkit-scrollbar {
    display: none;
}

/*ダイレクトメッセージ投稿エリア */
.inputMassage {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    position: fixed;
    margin: 0 auto;
    bottom: 0vh;
    display: block;
    width: 590px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}

.new-twi {
    margin-bottom: 20px;
}

.new-twi textarea {
    width: 100%;
    border: 1px solid #0095ff;
    border-radius: 4px;
    padding: 0px;
    resize: vertical;
    min-height: 80px;
    font-size: 1rem;
}

.messagePosition {
    margin: 0px auto 0px auto;
    /* background-color: rgba(165, 42, 42, 0); */
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    overflow: hidden;
    position: fixed;
    width: 550px;
    -ms-overflow-style: none;

}

.messagePosition::-webkit-scrollbar {
    display: none;
}

.recipient-name {
    text-align: center;
    background-color: white;
    margin-top: 110px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;

}

.messagePosition {
    margin-top: 50px;
}

.message-post {
    width: 80%;
    height: 40px;
    margin-right: 20px;
    border: 2px solid black;
}